.GitUsers{
   
    display: grid;
  grid-template-columns: auto auto auto ;
  margin:25px 5px;
  grid-gap: 20px 20px;
  
    
}
.Div{
   display:flex;
}
.Button{
    border: 1px solid rgba(202, 197, 197, 0.8);
    color:black;
    background-color: brown;
    height: 25px;
    width: 160px;
    text-align: center;
    margin:auto;
    padding:2px;
    box-sizing:border-box

}